body {
    font-family: Arial, sans-serif;
    background-color: #171717;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.container {
    display: flow-root;
    background-color: rgba(57, 55, 55, 0.42);
    max-width: 100%;
    margin: auto;
    padding: 0 5px;  
}


.Descript{
    display: block;
    flex-wrap: wrap;
    width: 50%;
    color: #171717;
    background-color:white;
    border-radius: 17px;
    margin-left: 25%;
    padding-bottom: 0;
  }  

.movie-details {
    background-color: #292929;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.movie-details img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    color: #d4aa11;
}

.movie-details h1 {
    color: #d4aa11;
}

@media (max-width: 600px) {
    .movie-details img {
        width: 100%;
    }

    .container {
        padding: 0 10px;
    }
}
